*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body {
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg , #05073a , #dc0606ca);
    padding: 10px;
    
}
.container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background:linear-gradient(135deg , #dc0606ca ,#05073a );
}
.container .heading {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center ;
    padding: 0 0 20px 0;
}
.container .heading::before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg , #71b7e6 ,#9b5b);
}
.container form .content {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .content .box {
    width: calc(100%/2 - 20px);
    margin-bottom: 15px;
}
.content .box label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.content .box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px;
    
}
.content .box input input:focus,
.content .box input input:valid {
    border-color: #9b59d6;
}
form .submit {
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 40%;
    outline: none;
    color: #fff;
    border: none;
    left: 30%;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg ,#05073a , #dc0606ca );
    position: relative;
    
}
form .submit:hover {
     background: linear-gradient(-135deg ,#05073a , #dc0606ca );
}
form label.message{
    position: relative;
    top: 31px;
    font-style: italic;
    font-weight: bold;
}